{% extends 'default/layout.html.twig' %}



{% block content %}
    <div class="row">
        <h1>Here comes possible giveaway list</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% for item in items %}
                <div class="row">
                    <div class="col-md-3">{{ item.product.name }}</div>
                    <div class="col-md-1">{{ item.product.type.name }}</div>
                    <div class="col-md-2">
                        <a href="{{ item.provider.url }}">{{ item.provider.name }}</a>
                    </div>
                    <div class="col-md-1">{{ item.provider.type.name }}</div>
                    <div class="col-md-1">
                        <a href=" {{ item.url }}">Link</a></div>
                    <div class="col-md-2">
                        {{ item.platform.name }}
                    </div>
                    <div class="col-md-2">{{ item.dateCreated|date }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}