{% set path = app.request.get('_route') %}

<ul class="navbar-nav ml-auto">
    <li class="nav-item{{ path ==  'home'?' active' }}">
        <a class="nav-link" href="/">Home
{#            <span class="sr-only">(current)</span>#}
        </a>
    </li>
    <li class="nav-item {{ path == 'giveaways'?' active' }}">
        <a class="nav-link" href="{{ path('giveaways') }}">GiveAways</a>
    </li>
    <li class="nav-item {{ path == 'games'?' active' }}">
        <a class="nav-link" href="{{ path('games') }}">Games</a>
    </li>
    <li class="nav-item {{ path == 'about'?' active' }}">
        <a class="nav-link" href="{{ path('about') }}">About</a>
    </li>
    {% if app.user %}
        <li class="nav-item {{ path == 'login'?' active' }}">
            <a class="nav-link" href="{{ path('logout') }}">Logout</a>
        </li>
        <li class="nav-item">
            <span class="nav-link active">Welcome {{ app.user.email }}</span>
        </li>
    {% else %}
        <li class="nav-item {{ path == 'login'?' active' }}">
            <a class="nav-link" href="{{ path('login') }}">Login</a>
        </li>
        <li class="nav-item {{ path == 'register'?' active' }}">
            <a class="nav-link" href="{{ path('register') }}">Register</a>
        </li>
    {% endif %}
</ul>
